table {
    margin: 20px;
}

tr {
    height: 30px;

    b {
        margin-right: 30px;
    }
}

.stat-container {
    margin: 25px;
}

.moves-container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}