.pokemon-list-bg {
    width: 100%;
    min-height: 100vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    section {
        width: 100%;
        max-width: 1350px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}

mat-card {
    width: 220px;
    height: 160px;
    border-radius: 20px;
    box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.75);

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all 225ms ease-in-out;
    }
}

mat-card-content {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    border-radius: 20px;
}


.loader-container {
    z-index: 99;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader img {
    width: 100px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}