mat-toolbar {
    display: flex;
    justify-content: center;
    height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

nav {
    width: 100%;
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        align-items: center;
    }
}

.margin-bottom-27px {
    margin-bottom: -26px;
}