<div class="bg">
</div>
<mat-toolbar color="primary">
    <nav>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/pokemon']">Pokémon</button>
              <button mat-menu-item [routerLink]="['/favorites']">Favorites</button>
            </mat-menu>
            <span class="pokedex">Pokédex</span>
            <span class="example-spacer"></span>
            <button class="red-button" mat-icon-button [routerLink]="['/favorites']">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
        <span class="current-route">{{ route }}</span>
        <div>
            <button (click)="focusSearchInput()" mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <mat-form-field class="search-form-field margin-bottom-27px">
                <mat-label>Search Pokémon</mat-label>
                <input #pokesearch matInput type="text" [(ngModel)]="value" (keyup)="onKeyUpEvent()">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </nav>
</mat-toolbar>

<div *ngIf="loading" class="loader-container">
    <div class="loader"><img src="../../assets/img/pokeball-icon.png"></div>
</div>

<router-outlet>
    
</router-outlet>