<div class="detail-card  {{ type }}">
    <h2 mat-dialog-title>{{ details.name }}</h2>
    <button *ngIf="notFavorite" mat-icon-button (click)="addToFavorites()"><mat-icon>favorite_border</mat-icon></button>
    <mat-dialog-content class="mat-typography">

    </mat-dialog-content>
    <button mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
    <button *ngIf="id !== 1" mat-icon-button (click)="previousPokemon()"><mat-icon>arrow_back_ios</mat-icon></button>
    <button mat-icon-button (click)="nextPokemon()"><mat-icon>arrow_forward_ios</mat-icon></button>
</div>