.detail-card {
    color: white;
    position: relative;
    width: 380px;
    height: 650px;
    transition: background-color 225ms linear;
    overflow: hidden;

    @media screen and (max-width: 475px) {
        width: 280px;
        height: 550px;
    }
}

.favorite-icon {
    position: absolute;
    top: 20px;
    left: 20px;

    @media screen and (max-width: 475px) {
        top: 10px;
        left: 10px;
    }
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;

    @media screen and (max-width: 475px) {
        top: 10px;
        right: 10px;
    }
}

.name {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 90px;
    left: 0;

    @media screen and (max-width: 475px) {
        font-size: 24px;
        top: 50px;
    }
}

.id {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 90px;
    right: 0;

    @media screen and (max-width: 475px) {
        font-size: 24px;
        top: 50px;
    }
}

.slide-left-icon {
    position: absolute;
    top: 0;
    bottom: 50px;
    margin: auto;
    left: 10px;
}

.slide-right-icon {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 50px;
    margin: auto;
    right: 10px;
}

.stats-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
    border-top: 20px solid white;
    box-sizing: border-box;
    overflow: auto;

    @media screen and (max-width: 475px) {
        padding-top: 0;
    }
}

.pokemon-img {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 130px;
    margin: auto;
    width: 230px;

    @media screen and (max-width: 475px) {
        bottom: 100px;
        width: 150px;
    }
}

.pokeball-img {
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 150px;
    margin: auto;
    width: 200px;
    opacity: 0.4;
    filter: invert(1);
}